{% extends 'base.html' %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock extrahead %}
{% block title %}View Messages{% endblock title%}
{% block content %}
<a class="send-message" href="{% url 'send-message' %}"> Compose a new message </a>
{% if has_msg %}
    <div class="messages">
    {% for msg in messages %}
        <div class="message-container">
            <div class="users-info">
                <div class="message-sender">
                    <img class="user-images" id='base64image'
                        src="data:image/jpg;base64, {{ msg.sender.avatar }}"/>
                    <h3> from {{msg.sender.user.username}} </h3>
                </div>
                <div class="message-receiver">
                    <img class="user-images" id='base64image'
                        src="data:image/jpg;base64, {{ msg.receiver.avatar }}"/>
                    <h3> to {{msg.receiver.user.username}} </h3>
                </div> 
            </div>
            <p class="message-body"> {{msg.body}} </p>
            <p class="message-date"> Sent on {{msg.send_date}} </p>
        </div>
    {% endfor %}
    </div>
{% else %}
    <h2> Sorry, you have not sent or received any messages:(</h2>
{% endif %}

{% endblock %}