{% extends 'base.html' %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/password.css' %}">
{% endblock extrahead %}
{% block title %}Reset Password{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
    </form>
</div>
{% else %}
<div class="actions">
<h2> Login to Reset Password </h2>
<a href="{% url 'redirect-to-login' %}">Login</a>
{% endif %}
<a href="{% url 'dashboard' %}"> Dashboard </a>
</div>
{% endblock %}