.actions {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 1rem;
}

.actions a{
    font-size: 1.4rem;
    transition: 0.2s ease-in-out;
}

.actions a:hover {
    font-size: 1.6rem;
}