::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    padding: 4px;
}

::-webkit-scrollbar-thumb {
    background: #0D26FC;
    border-radius: 4px;
}

.content {
    display: inherit;
    flex-direction: row;
    justify-content: start;
    min-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 1rem;
    flex-grow: 1;
}

.personal-projects {
    width: 35%;
    overflow-y: auto;
}

.posts-container {
    display: flex;
    flex-flow: column nowrap;
    column-gap: 1rem;
    width: 65%;
    max-width: 65%;
    overflow-y: auto;
    padding-right: 5px;
}

.post-main-container {
    width: 100%;
    background: white;
    border-radius: 40px;
    padding: 1.5rem 2rem 1.5rem 2rem;
    cursor: pointer;
    margin: 1rem 0 1rem 0;
    height: min-content;
}

.post-main-container:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.post-main-container:last-child {
    margin-bottom: 0;
}

.post-title-container{
    font-stretch: expanded;
}

.post-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}

.post-user-info {
    display: inherit;
}

.post-field {
    text-transform: capitalize;
    color: #0D26FC;
    background: #bac1fd;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 0.4rem;
}

.post-user-image-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background:rgb(244 244 244);
    padding: 0.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 1.2rem;
    margin-right: 1.5rem;
}

.post-user-image, .post-user-image svg {
    height: 100%;
    width: 100%;
    color:rgb(170, 170, 170);
}

.user-text {
    display: flex;
    flex-flow: column nowrap;
}

.post-creation-date {
    color: rgb(170, 170, 170);
    width: 100%;
}

.post-description {
    padding-bottom: 0.5rem;
}

.reply-button {
    display: flex;
}

.reply-button svg {
    height: 1.2rem;
    padding-right: 0.5rem;
}