.left-panel {
    width: 35%;
    overflow-y: visible;
    margin-right: 1rem;
    height: fit-content;
    overflow-y: auto;
}

.post-filters-container, .post-create {
    background: white;
    border-radius: 40px;
    padding: 1rem 2rem 1rem 2rem;
}

.post-create {
    margin-top: 1rem;
}

.post-filter {
    border-radius: 10px;
    padding: 5px;
}

.post-filter button{
    background: transparent;
    border: none;
    font-size: 1rem;
}

.post-filter:hover {
    background:rgba(0, 0, 0, 0.286);
}

.posts-container {
    display: flex;
    flex-flow: column nowrap;
    width: 65%;
    max-width: 65%;
    overflow-y: auto;
    padding-right: 5px;
}

.clickable {
    cursor: pointer;
}

.post-main-container {
    width: 100%;
    background: white;
    border-radius: 40px;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin-bottom: 1rem;
    height: 100%;
    overflow: visible;
}

.post-main-container:last-child {
    margin-bottom: 0;
}

.post-title-container{
    font-stretch: expanded;
}

.post-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}

.post-user-info {
    display: inherit;
}

.post-field {
    text-transform: capitalize;
    color: #0D26FC;
    background: #bac1fd;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 0.4rem;
}

.post-user-image-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background:rgb(244 244 244);
    padding: 0.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 1.2rem;
    margin-right: 1.5rem;
}

.post-user-image, .post-user-image svg {
    height: 100%;
    width: 100%;
    color:rgb(170, 170, 170);
}

.user-text {
    display: flex;
    flex-flow: column nowrap;
}

.post-creation-date {
    color: rgb(170, 170, 170);
    width: 100%;
}

.post-description {
    padding-bottom: 0.5rem;
}

.reply-button {
    display: flex;
}

.reply-button svg {
    height: 1.2rem;
    padding-right: 0.5rem;
}

.searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 40px;
    flex-grow: 1;
    background: white;
    margin-top: 1rem;
}

.searchbar-container input {
    border: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
}

.search-container input[type="hidden"] {
    padding: 0;
    height: 0;
    width: 0;
}

.searchbar-container input::placeholder {
    color: black;
}

.searchbar-container input:focus{
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

.searchbar-container button{
    background: none;
    padding: 10px;
    border: none;
    transition: 0.2s ease-in-out;
    margin-left: 1rem;
}

.searchbar-container button:hover{
    transform: scale(1.1, 1.1);
}

.searchbar-container svg {
    height: 20px;
    width: 20px;
}