.content {
    display: flex;
    flex-flow: column nowrap;
}

.list-title {
    margin-bottom: 1rem;
}

.new-project {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: 0.2s ease-in-out;
}

.new-project:hover{
    font-size: 1.5rem;
}