{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock extrahead %}
{% block content %}
{% if not user.username == object.project.user.user.username and not user|check_permission:'item_catalog.administrate_projects' %}
    <p>You can only update your own posts!</p>
{% else %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
{% endif %}
{% endblock content %}