{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock extrahead %}
{% block content %}
<div class="post">
    <div class="title-container">
        <h1>{{ object.title }}</h1>
    </div>
    {% if user.username == object.project.user.user.username %}
    <div class="post-actions">
        <a href="{% url 'post-update' object.id %}">Edit</a>
        <a href="{% url 'post-delete' object.id %}">Delete</a>
    </div>
    {% endif %}
    <div class="project-info">
        <h2>Project Info</h2>
            <div class="project-info-attr">
                <p class="attr-name">Name:</p>
                <p class="attr-value">{{ object.project.name }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Type:</p>
                <p class="attr-value">{{ object.project.project_type }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Field:</p>
                <p class="attr-value">{{ object.project.field }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Keywords:</p>
                <p class="attr-value">{{ object.project.keywords }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Description:</p>
                <p class="attr-value">{{ object.project.description }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Status:</p>
                <p class="attr-value">{{ object.project.status }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Created:</p>
                <p class="attr-value">{{ object.project.creation_date }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Due:</p>
                <p class="attr-value">{{ object.project.due_date }}</p>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">By:</p>
                <p class="attr-value">{{ object.project.user.user.username }}</p>
            </div>
            <div class="project-info-attr">
                <img style='display:block; width:100px;height:100px;' id='base64image'
                src="data:image/jpg;base64, {{ image }}"/>
            </div>
            <div class="project-info-attr">
                <p class="attr-name">Likes:</p>
                <p class="attr-value">{{ object.get_number_of_likes }}</p>
            </div>
            <div class="project-like-container">
                {% if profile in object.likes.all %}
                    <form action="{% url 'post-like' object.id 'disliked' %}" method="POST">
                        {% csrf_token %}
                        <button class="like-button" type="submit">Dislike</button>
                    </form>
                {% else %}
                    <form action="{% url 'post-like' object.id 'liked' %}" method="POST">
                        {% csrf_token %}
                        <button class="like-button" type="submit">Like</button>
                    </form>
                {% endif %}
            </div>
    </div>
    <div class="comment-section-container">
        {% for comment in object.comments.all %}
            <div class="comment-container">
                <div class="comment-info">
                    <h4>{{ comment.user }}</h4>
                    <h6>{{ comment.creation_date }}</h6>
                </div>
                <div class="comment-body">
                    <p>{{ comment.body }}</p>
                </div>
            </div>
        {% empty %}
        No comments!
        {% endfor %}
    </div>
    <div class="add-comment-container">
        <form action="{% url 'post-detail' object.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="{{ object.id }}" name="post_id">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}