{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Based</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <div class="main-container">
            <div class="header-container">
                <div class="logo-container">
                    <div class="logo">
                        <svg width="60" height="34" viewBox="0 0 60 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.5 28L37.5 6L41 28L19 10.5" stroke="#001AFF" stroke-width="2" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="options">
                    <div class="option-post option">
                        <a href="{% url 'posts' %}">Posts</a>
                    </div>
                    <div class="option-messages option">
                        <a href="{% url 'view-messages' %}">Messages</a>
                    </div>
                    <div class="option-account option">
                        <a href="{% url 'dashboard' %}">Account</a>
                    </div>
                </div>
            </div>
        <div class="content">
            {% block content %}
            
            {% endblock content %}
        </div>
    </div>
</body>

</html>