<!DOCTYPE html>
{% extends 'header.html' %}
{% load tags %} 

{% block content %}
    <script>
        window.onProfileAdded = () => {
            setTimeout(() => window.location.reload(), 1000);
        }
    </script>
    <div class='grid-container'>
        <div class='group-selection-container'>
            {% for group in groups %}
            {% if group.name == selected_group.name %}
            <a href="{{ group.name }}" class="selected-group">
            {% else %}
            <a href="{{ group.name }}">
            {% endif %} 
                <div class='group-container'> 
                    <h4> {{ group.name }} </h4>
                    <h4> {{ group.user_set.count }} </h4>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class='main-panel-container'>
            <div class='control-options'>
                <div class='add-new-profile-container'>
                    <form method="post" class="add_group">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Add">
                    </form>

                {% if selected_group.name == "Members" %}
                <button target="popup" onclick="
                    let w = window.open('./profile_creation','popup','width=600,height=600');
                    return false;
                    "
                >
                    Create new member.
                </button>
                {% endif %}

                </div>
            </div>

            <div class='user-card-area'>
                {% for profile in profiles %}
                <div class='user-card-container'>
                    <div class="top">
                        <div class="left">
                            <img src="data:image/jpg;base64, {{ profile.avatar }}"/>
                        </div>
                        <div class="right">
                            <p> {{ profile.user.username }} </p>
                            <p> {{ profile.user.id }} </p>
                            <p> {{ profile.user.email }} </p>
                            <!-- <p class="{{ selected_group.name }} "> {{ selected_group.name }} </p> -->
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="first-row">
                            {% if profile.user.groups.count > 1 %}
                            <a href={{ "remove_from_group/"|add:selected_group.name|add:":"|add:profile.user.username }} class="delete-from-group">
                                Remove
                            {% else %}
                            <a href={{ "remove_from_group/"|add:selected_group.name|add:":"|add:profile.user.username }} class="remove-from-django">
                                Remove
                            {% endif %}
                            </a>
                            {% if selected_group.name == "Members" %}
                                <a href={{ "block/"|add:profile.user.username }}>
                                {% if profile.user|check_permission:'user_management.can_interact' %}
                                        Block
                                {% else %}
                                        Unblock
                                {% endif %}
                                </a>
                            {% endif %}
                        </div>
                        <div class='second-row'>
                        {% if not profile.user|check_permission:'auth.administrate_members'%}
                                <a href="{% url 'set_password' profile.user.id %}" target="_blank">
                                    Reset Password
                                </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}